My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "DailyGoods_messenger_bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        16
      ],
      "id": "ad041288-75b6-4d04-9926-77bb252469ee",
      "name": "Webhook",
      "webhookId": "4995947e-8953-4176-a2aa-d59bca6c9df5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dadde246-5ad8-4f1a-a56c-f32610e7c174",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3ef38da6-4edd-416a-9b64-2c096e4a306f",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "Our_shop",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        -144
      ],
      "id": "921a19cd-e1d1-4278-bf93-477019025e84",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Webhook').item.json.query.hub_challenge }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        272,
        -160
      ],
      "id": "82c9d5c9-a199-4251-9bf7-0e95f8c0ce55",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User question : {{ $json.body.entry[0].messaging[0].message.text }}",
        "options": {
          "systemMessage": "You are a helpful AI assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -208,
        112
      ],
      "id": "49b55301-36a7-4bb8-8cb6-c55c3e6f6655",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -432,
        304
      ],
      "id": "f06a21bd-7119-43e1-9773-43bf9b8f5e94",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "C5RSoL8dH8N4piwR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAOj8w0sZAqkBRp9LSZAfZC4luh4BjA2uBfKqpZABdmZCDBwRIJeq5s7DBPjimmHikwcMZBZBky9a2p2kDL8rEbwNh6IVXvrIwTwVzLZB7iGwysOkQ48RwqUITIwk9ZC45IK9Y9MiT4VGWjBcnQGxRAZAHXTqHZCGTHqtSyTRNefGG0K9amBzM30sZB9dRcWyWqJQeks8pE4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": {{ JSON.stringify($json.output) }}\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        112
      ],
      "id": "a3b5964e-2d37-4d73-8710-68fdc691b569",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get a document in Google Docs",
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1DoYF2mwmhXinG__SDRrZS1cQ4Oao3OWIBon_Nu-Bp8k/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        192,
        352
      ],
      "id": "29256552-4c9b-4523-aab8-82fd44dbb065",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "hOoOnHVmFsqw5rhW",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.entry[0].messaging[0].sender.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -160,
        368
      ],
      "id": "8c58cd1b-f9d8-4f2b-a775-229c78398736",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "1JjmObu58LNWynBN7DFSOYu0OSXV9VuXpt_xjanle9M4",
          "mode": "list",
          "cachedResultName": "GRADE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JjmObu58LNWynBN7DFSOYu0OSXV9VuXpt_xjanle9M4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JjmObu58LNWynBN7DFSOYu0OSXV9VuXpt_xjanle9M4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        32,
        448
      ],
      "id": "a5b64d11-572d-4716-ab31-322fa10597da",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ku9AHVBEq9o08eDW",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2fcec420-8ac4-4dec-bb81-43b0d8fb1d81",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9f678fe6367b5bcd2211a2658f16c729d0b60b2270967397156c25fbc907deb"
  },
  "id": "TS8KKmQqXaGTQ5De",
  "tags": []
}